@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');

:root{
  --backgroundDiv: #c4f8ff;
  --corFontAzul: #00b3ff;
}

body{
  background: #fff;
  max-width: 27rem;
  height: 100vh;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  color: #000;
  animation: mygradient 3s ease infinite;
  font-family: 'Roboto Condensed', Arial;
}

h1, h3, h4, h5{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather';
}

div h4{
  text-align: center;
}

@keyframes mygradient { 
  0% { 
    background-position: 0% 50%; 
    
  } 50% { 
    background-position: 100% 50%; 
    
  } 100% { 
    background-position: 0% 50%; 
    
  } 
  
}

button {
  border: 0;
  background: #405DE6;
  border-radius: 6px;
  color: #fff;
}

div#yesk{
  background: var(--backgroundDiv);
  margin: 0 auto;
  width: 24rem;
  padding: 3px;
  border-radius:6px;
  margin-top: 3px;
}

nav { 
  position: absolute; 
  top: 3px; 
  left: 7em; 
} 

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-left: 7px;
  list-style: none;
  text-decoration:none;
  color: #000;
}

nav ul li a{
  text-decoration: none;
  color:#000;
}

header{
  display: flex;
  flex-direction: row;
}

div#mt p{
  text-align: center;
}

.info-bsc{
  text-align: center;
}

.infos{
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.infos #yesj{
  margin-left: 7px;
  text-align: center;
}

#yesjj{
  text-align: center;
}

@media screen and (max-width: 480px) { 
  body { 
    max-width: 20rem;
  } 
  html{
    width: 100%;
  }
}
