body{
  background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  background-repeat: no-repeat;
  color: #fff;
  animation: mygradient 3s ease infinite;
}

h1{
  text-align: center;
}

div h4{
  text-align: center;
}

@keyframes mygradient { 
  0% { 
    background-position: 0% 50%; 
    
  } 50% { 
    background-position: 100% 50%; 
    
  } 100% { 
    background-position: 0% 50%; 
    
  } 
  
}

button {
  border: 0;
  background: #405DE6;
  border-radius: 6px;
  color: #fff;
}

#popup{
  opacity: 0%;
  background: #fff;
  color: #000;
  text-align: center;
  width: 24.5rem;
  height: 20rem;
  padding: 2px;
  border: 2px solid #405DE6;
}



