<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');
    .container{
      text-align: center;
      padding: 5px;
    }
    body{
      background: #EE1D52;
    }
    
  
    @media (min-width: 768px) and (max-width: 1199.98px) {
      body{
        max-width: 100%;
      }
    }
  </style>
</head>

<body>
  <!-- NavBar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <a class="navbar-brand" href="#">iDash</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação"> 
        <span class="navbar-toggler-icon"></span> 
      </button> 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
        <div class="navbar-nav"> 
          <a class="nav-item nav-link active" href="{{ url_for('homepage') }}">Home <span class="sr-only">(Página atual)</span></a> 
          <a class="nav-item nav-link" href="#">Insights</a> 
          <a class="nav-item nav-link" href="{{ url_for('settings') }}">Configurações</a> 
          </div> 
        </div> 
      </nav>
      
      <div class="container rounded text-light">
        <h4><strong>Conta</strong></h4>
        <!-- Configuração-->
        <form action="/settings" method="POST">
          <div class="form-group">
            <label>Nome de usuário</label>
            <input id="usernamei" name="username" type="text" class="form-control" value="Nome de usuário">
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input id="pass" name="password" type="password" class="form-control" value="Senha">
          </div>
          <div class="form-group">
            <label>Plataforma</label>
            <select class="form-control" name="plt">
              <option value="insta" selected>Instagram</option>
              <option value="tktk">TikTok</option>
              <option value="kw">Kwai</option>
            </select>
          </div>
          <div class="form-group">
            <label>Token</label>
            <input type="password" name="iusername" id="tokens" disabled>
          </div>
          <!-- Botões -->
          <button type="submit" class="btn btn-primary">Enviar alterações</button>
         
        </form>
      </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
   var username = document.getElementById("usernamei")
  var senha = document.getElementById("pass")
  
  username.setAttribute("value", localStorage.getItem("username"))
  senha.setAttribute("value", localStorage.getItem("senha"))
  var token = document.getElementById("tokens")
  token.setAttribute("value", localStorage.getItem("username"))
</script>
</html>
