<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <style>
     h1, h2, h3, h4{
       text-align: center;
     }
     .container{
       text-align: center;
       margin-top: 10px;
     }
     
     @media (min-width: 768px) and (max-width: 1199.98px) {
      body{
        max-width: 100%;
        background: rgb(105,201,208);
        background: linear-gradient(20deg, rgba(105,201,208,1) 26%, rgba(238,29,82,1) 56%, rgba(252,0,230,1) 92%);
      }
    }
   </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <a class="navbar-brand" href="#">iDash</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação"> 
        <span class="navbar-toggler-icon"></span> 
      </button> 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
        <div class="navbar-nav"> 
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a> 
          <a class="nav-item nav-link" href="#">Insights</a> 
          <a class="nav-item nav-link" href="#">Configurações</a> 
          </div> 
        </div> 
      </nav>
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
   <ol class="carousel-indicators"> 
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> 
   </ol> 
   <div class="carousel-inner"> 
    <div class="carousel-item active"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Primeiro Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Segundo Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Terceiro Slide"> 
    </div> 
  </div> 
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> 
  <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
  <span class="sr-only">Anterior</span> 
  </a> 
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true">
      
    </span> 
    <span class="sr-only">Próximo</span> 
  </a> 
</div>
<div class="container rounded bg-primary text-light">
  <h4><strong>Bom dia!</strong></h4>
  <p>Frase do dia</p>
</div>
<div class="container rounded bg-primary text-light">
  <h4><strong>Dicas de vídeos</strong></h4>
  <p>Ideias de videos hehe</p>
</div>
<div class="container rounded bg-primary text-light">
  <h4><strong>Dicas de Story</strong></h4>
  <p>Dicas de storys para postar</p>
</div>
<div class="container rounded bg-primary text-light">
  <h4><strong>Legendas Recomendadas</strong></h4>
  <p>Legendas Recomendadas</p>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</html>
