<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Login</title>
  <style>
     @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');
    h3, h1, h2, h4{
      text-align: center;
      font-family: 'Merriweather', Arial;
    }
    .container {
      text-align: center;
      margin-top: 5px;
    }
    .form-group {
      text-align: center;
    }
    ul{
      text-align: left;
    }
    #ce{
      text-decoration: underline;
      color: #0000FF;
    }
  </style>
</head>

<body>
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
   <ol class="carousel-indicators"> 
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> 
   </ol> 
   <div class="carousel-inner"> 
    <div class="carousel-item active"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Primeiro Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Segundo Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Terceiro Slide"> 
    </div> 
  </div> 
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> 
  <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
  <span class="sr-only">Anterior</span> 
  </a> 
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true">
      
    </span> 
    <span class="sr-only">Próximo</span> 
  </a> 
</div>
<div class="container rounded bg-light text-dark">
  <h4><strong>Conecte-se</strong></h4>
  <form>
    <div class="form-group col-md-6"> 
      <label for="inputToken">Token de acesso</label> 
      <input type="text" class="form-control" id="inputToken" placeholder="Digite seu token de acesso a conta">

    </div>

    <button style="text-align: center;" type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
    <a id="ce">Não tem uma conta?</a> | <a id="ce">Esqueceu o token?</a>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</html>
