<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');
    h3, h1, h2, h4{
      text-align: center;
      font-family: 'Merriweather', Arial;
    }
    .container {
      text-align: center;
      margin-top: 5px;
    }
    .form-group {
      text-align: center;
    }
    ul{
      text-align: left;
    }
    #ce{
      text-decoration: underline;
      color: #0000FF;
    }
  </style>
</head>

<body>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
   <ol class="carousel-indicators"> 
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> 
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> 
   </ol> 
   <div class="carousel-inner"> 
    <div class="carousel-item active"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Primeiro Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Segundo Slide"> 
    </div> 
    <div class="carousel-item"> 
      <img class="d-block w-100" src="https://media.discordapp.net/attachments/1010989706323959851/1020624476469198958/fundoh.png" alt="Terceiro Slide"> 
    </div> 
  </div> 
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> 
  <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
  <span class="sr-only">Anterior</span> 
  </a> 
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true">
      
    </span> 
    <span class="sr-only">Próximo</span> 
  </a> 
</div>
<div class="container rounded p-3 mb-2 bg-light text-dark">
  <h3><strong>Cadastre-se</strong></h3>
  <form>
    <div class="form-group col-md-6"> 
      <label for="inputUsername">Nome de usuário</label> 
      <input type="text" class="form-control" id="inputUsername" placeholder="Nome de usuário">

    </div>
    <div id="ueie" class="form-group col-md-6">
      <label>Qual plataforma você usa?</label>
      <select class="form-control">
        <option name="insta" value="insta">Instagram</option>
        <option name="tktk" value="tktk">TikTok</option>
        <option name="kwai" value="kwai">Kwai</option>
      </select>
      
    </div>

    <button style="text-align: center;" type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
    <a id="ce">Já tem uma conta?</a>
  </form>
</div>
<div class="alert alert-primary" role="alert">Se ainda não souber usar o site, veja os tutoriais <a href="#" class="alert-link">clicando aqui</a>. É melhor assistir os tutoriais para saber como usar o site da melhor forma.</div>
<div class="container rounded bg-light text-dark">
  <h4><strong>Sobre o cadastro</strong></h4>
  <p>Prezamos pela segurança dos dados do usuário, por isso, apenas coletamos seu nome de usuario que vai servir. Dentro do site você receberá um token único para voce poder fazer <strong>login</strong> em outro dispositivo.</p>
</div>
<div class="container rounded bg-light text-dark">
  <h4><strong>Sobre as funcionalidades</strong></h4>
  <ul>
    <li>Tem relatório para ver se sua conta está top e o que precisa melhorar</li>
    <li>Tem dicas de vídeos todos os dias atualizado</li>
    <li>Rápido atendimento.</li>
    <li>Alto investimento em segurança.</li>
    <li>Resultados comprovados em um teste no <strong>BETA!</strong></li>
  </ul>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  function GerarToken() {
    var letras = [
      "Ajdjdkd",
      "hsisja",
      "jdfkdY",
      "uehdjd",
      "yejd",
      "xhrjd",
      "gdjd",
      "gdjdjd"
    ]
    let numeros = [
      "1939",
      "4374",
      "838",
      "293920",
      "3839",
      "3839",
      "8393"
    ]
    var letraA = letras[Math.floor(Math.random() * letras.length)];
    console.log(letraA)
    var numA = numeros[Math.floor(Math.random() * numeros.length)]
    var token = letraA + numA
    return console.log(token)
  }
  GerarToken()
  var select = document.querySelector('select'); 
  select.addEventListener('change', function() { 
      var option = this.selectedOptions[0]; 
      var texto = option.textContent; 
      console.log(texto); 
    
  });
</script>
</html>

